<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @list.nombre %>
</p>

<p>
  <b>Telefono:</b>
  <%= @list.telefono %>
</p>

<p>
  <b>Email:</b>
  <%= @list.email %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
