<p id="notice"><%= notice %></p>

<p>
  <b>list:</b>
  <%= @item.list_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @item.nombre %>
</p>

<p>
  <b>Telefono:</b>
  <%= @item.telefono %>
</p>

<p>
  <b>Email:</b>
  <%= @item.email %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
